<img src="./assets/hi_there.png?raw=true" alt="Hi there"
  width="200px">
<h3>I'm Guilherme 👋</h3>
<samp>
  <p>Here are some interesting URLs about me:</p>
  <br />
  <p>
    → <b>Blog:</b> <a href="https://karreiro.com">karreiro.com</a>, see my latest posts:
  </p>
  {posts}
  <br />
  <p>
    → <b>Digital garden:</b> <a href="https://karreiro.com/wiki">karreiro.com/wiki</a>
  </p>
  <p>&nbsp; - It's a personal wiki where I keep my notes, discoveries, thoughts, and drafts 🌱</p>
  <br />
  <p>
    → <b>Wanna chat?</b> 👉 @ me on <a href="https://twitter.com/karreiro_">Twitter</a>!
  </p>
</samp>
